.ulTag {
  margin          : 0;
  display         : flex;
  justify-content : space-evenly;
  background-color: antiquewhite;
}

.liTag {
  list-style: none;
  padding   : 5px;
}

.liTag:hover {
  background-color: aqua;
  cursor          : pointer;
}

.hrLine {
  margin: 0%;
}

.liTag a {
  text-decoration: none;
}

.nameTag {
  font-size: small;
}

.nameTag:hover {
  background-color: antiquewhite;
}

.logOutButton {
  margin          : 0 5px;
  border          : none;
  background-color: red;
}